<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Meta Tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link rel="stylesheet" href="/index.css">
        <title>Agent Du Shield | Page D'accueil</title>
        <link rel="shortcut icon" href="">
          </a>
    </head>
    

<%- include("../partials/header") %>

<title>Mes Servers</title>

<div class="text-center text-light slide-up-fade-in" style="padding-top: 65px; padding-bottom: 20px;">
    <div class="p-5 text-center" style="padding-top: 110px; background-color: #3B465E;">
        <h1 class="mb-3">Veuillez selectionner un serveur...</h1>
    </div>
</div>

<!-- Ik this is not the prettiest list but it shows the servers correctly. -->
<div class="container text-center slide-up-fade-in">
    <div class="row">
        <ul class="list-group" style="padding-bottom: 20px">
            <% for (let i = 0; i < guilds.length; i++) { %>
                
                  <li class="list-group-item"><a class="text-dark" href="/dashboard/server/<%= guilds[i].id %>">
                    <% if (guilds[i].icon) { %>
                        <img class="rounded-circle" width="84px" style="opacity: 1;" src="https://cdn.discordapp.com/icons/<%= guilds[i].id %>/<%= guilds[i].icon %>"> 
                    <% } else { %>
                        <img class="rounded-circle" width="84px" style="opacity: 1;" src="https://discordapp.com/assets/6debd47ed13483642cf09e832ed0bc1b.png?size=2048"> 
                    <% } %>
                    <span style="padding-left: 20px; font-size: larger;"><%= guilds[i].name %></span></a></li>
            <% } %>
        </ul>  
      </div>    

</div>


<%- include("../partials/footer") %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>